<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkAewZNcAc3eHTJ3fHOKcRpCRaafOr7RA</string>
	<key>GCM_SENDER_ID</key>
	<string>587364272042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fit.ttak.app</string>
	<key>PROJECT_ID</key>
	<string>q-lens-3c1fd</string>
	<key>STORAGE_BUCKET</key>
	<string>q-lens-3c1fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587364272042:ios:b32606f38119cbc5fa8dd3</string>
</dict>
</plist>
